<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
{{{body}}}
{{#each scripts}}
    <script src="{{script}}"></script>
{{/each}}
</body>
