.margin-top {
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.download-link {
    margin-left: 15px;
    font-size: 18px;
}

caption {
    font-size: 24px;
}